@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');


a{
    text-decoration: none;
    color: inherit;
}

#main-container{
    font-family:Poppins,'Courier New', Courier, monospace;
    font-style: normal;
    
}

header{
    width: 100vw;
    padding: 0 10vb;
    box-shadow: 0px 3px 9px rgba(143, 143, 143, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}



header #logo{
    width:100px;
    aspect-ratio: 2;
}

nav{
    display: flex;
    align-items: center;
}

.nav-link{
    position: relative;
    margin: 0 15px;
    font-weight: 500;
}

.nav-link::before{
    content:"";
    display:block;
    position: absolute;
    height:5px;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    left: 0;
    right: 0;
    bottom: -26px;
    border-radius: 4px;
    opacity: 0;
    
}

.nav-link:hover::before{
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.nav-link:hover{
    color: hsl(233, 26%, 24%);
    transition: color 300ms ease-in-out;
}


#logout-button{
    padding: 0.675rem 2.1875rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 40px;
    background:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border: none ;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

#logout-button:hover{
    opacity: 0.7;
    transition: opacity 200ms ease-in-out;
}

.hero-container{
    position:relative;  

}

.hero-container > img{
    width:80%;
    position: relative;
    left: 48%;
    transform: translateX(-50%);
}

.hero-container  h1{
    margin-top: 50px;
    font-weight: 700;
    font-size: 64px;
    line-height: 36px;
    letter-spacing: 3px;
    word-spacing: 6px;

}

.hero-container p{
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    word-spacing: 5px;
    max-width: 80%;


}

section{
    margin:5vw;
}



.card-container{
    display: inline-block;
    background-color: rgb(224, 224, 224);
    margin: 0%;
    width: 320px;
    height: 450px;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    border: 2px solid rgb(156, 156, 156);
    transform: scale(1);
    transition: transform .15s ease-in-out;
}

.card-img{
    display: block;
    width:92%;
    width: 92%;
    height:78%;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 9px;
    max-height: 400px;
}

.card-star{
    width: 14px;
    height: 14px;
}


.card-description{
    padding: 5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-rating{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-self: left;
    gap: 5px;
}


#add-new{
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-new > div{
    height: 80%;
    width: 80%;
    border-radius: 5px;
    border: 2px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}


.grey{
    color:lightslategray;
}

.cards-container{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 320px);
    gap:1.4rem;
    text-align: left;
    margin-top: 4rem;
    background: #f7f7f7;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 14px 24px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 2px solid lightgray;
}

.sold-out-tag{
    background-color: aliceblue;
    color:rgb(59, 59, 59);
    position: absolute;
    top:8%;
    left:10%;
    padding:5px;
    border-radius: 5px;
    font-weight: bold;
    width:80px;
    text-align: center;
}


footer{
    width: 100vw;
    text-align: center;
    margin-top: 8%;
    background-color: rgb(46, 46, 46);
    min-height:330px;
    font-weight: 600;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-container:hover{
    transform: scale(1.01);
}

button{
    transform: scale(1);
    transition: scale 250ms;
}

button:hover{
    scale: 1.02;
}

